In [2]:
"""ATE: Automatic Term Extraction
"""
import re
import os
import collections
import pandas as pd
from pprint import pprint

In [3]:
file_path = "datasets/生体医工学会論文5755件.csv"
df = pd.read_csv(file_path,encoding='utf-8')
df.head()

,No,Title,Author,Journal,Vol,No.1,Pages,Published_Year
0,0,リレー随筆他,NaN,生体医工学,43,4,800-802,2005
1,1,高齢者の使用を考慮した引戸の操作性の計測・評価のための実物大実験装置の開発と評価,"田中 眞二, 前川 陽, 奥野 竜平, 赤澤 堅造",生体医工学,43,4,795-799,2005
2,2,足指マウス開発にむけての基礎的検討―母指の運動特性―,"田中 則子, 上田 知生, 中尾 恵, 佐藤 哲大, 湊 小太郎, 吉田 正樹, 纐纈 和美",生体医工学,43,4,790-794,2005
3,3,血液検査用マイクロ流体デバイスの作製,"寺田 信幸, 山田 博之, 吉田 善一",生体医工学,43,4,785-789,2005
4,4,複数皮質活動の動的イメージングのためのfMRI-MEG統合解析法,"隠浪 康行, 小林 哲生, 鄭 址旭, 大橋 俊平, 濱田 昌司, 長峯 隆, 福山 秀直,...",生体医工学,43,4,777-784,2005

In [4]:
years = df["Published_Year"].unique()
years

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [6]:
docs = {}
for y in years:
    docs[y] = df[(df['Published_Year']==y)]['Title'].values.tolist()

In [9]:
print("\n".join(docs[2023][:10]))

生体医工学ウェブ辞典（第二分冊）
医療機関等への建築ガイドライン浸透のための課題と今後の展望
メーカーから見た医用テレメータ設置・運用に関する現状と確認事項
医用テレメータの概要と医療現場での現状と希望
医療機関における電波利用機器に配慮した建築ガイドライン・同解説－医用テレメータ編－のポイント
生体医工学×医療者教育―効率的な知識・技術発展のためにー
生体医工学×知のデザイン －臨床研究における学際の必要性－
生体医工学×医工連携～自身の開発経験談～
生体医工学×医療機器管理のエビデンス創設を目指して
スマートコントラクトを用いたトラストデータ流通システム

In [18]:
df.groupby('Vol').count()

           No  Title  Author  Journal  No.1  Pages  Published_Year
Vol
-           2      2       2        2     2      2               2
43         96     96      92       96    96     96              96
44         91     91      87       91    91     91              91
45         36     36      32       36    36     36              36
46        101    101      95      101   101    101             101
47         75     75      68       75    75     75              75
48         70     70      62       70    70     70              70
49        144    144     135      144   144    144             144
50         73     73      64       73    73     73              73
51         60     60      51       60    60     60              60
52        454    454     446      454   454    454             454
53        678    678     671      678   678    678             678
54         39     39      33       39    39     39              39
54Annual  454    454     454      454   454    454             454
55         41     41      34       41    41     41              41
55Annual  365    365     365      365   365    365             365
56         36     36      28       36    36     36              36
57         39     39      35       39    39     39              39
58         38     38      34       38    38     38              38
59         32     32      29       32    32     32              32
60         34     34      31       34    34     34              34
61         10     10       9       10    10     10              10
Annual56  423    423     423      423   423    423             423
Annual57  568    568     568      568   568    568             568
Annual58  407    407     407      407   407    407             407
Annual59  551    551     551      551   551    551             551
Annual60  356    356     356      356   356    356             356
Annual61  483    483     483      483   483    483             483

In [22]:
df[~df['Vol'].str.contains('Annual')].groupby('Vol').count()

      No  Title  Author  Journal  No.1  Pages  Published_Year
Vol
-      2      2       2        2     2      2               2
43    96     96      92       96    96     96              96
44    91     91      87       91    91     91              91
45    36     36      32       36    36     36              36
46   101    101      95      101   101    101             101
47    75     75      68       75    75     75              75
48    70     70      62       70    70     70              70
49   144    144     135      144   144    144             144
50    73     73      64       73    73     73              73
51    60     60      51       60    60     60              60
52   454    454     446      454   454    454             454
53   678    678     671      678   678    678             678
54    39     39      33       39    39     39              39
55    41     41      34       41    41     41              41
56    36     36      28       36    36     36              36
57    39     39      35       39    39     39              39
58    38     38      34       38    38     38              38
59    32     32      29       32    32     32              32
60    34     34      31       34    34     34              34
61    10     10       9       10    10     10              10

In [23]:
df[df['Vol'].str.contains('Annual')].groupby('Vol').count()

           No  Title  Author  Journal  No.1  Pages  Published_Year
Vol
54Annual  454    454     454      454   454    454             454
55Annual  365    365     365      365   365    365             365
Annual56  423    423     423      423   423    423             423
Annual57  568    568     568      568   568    568             568
Annual58  407    407     407      407   407    407             407
Annual59  551    551     551      551   551    551             551
Annual60  356    356     356      356   356    356             356
Annual61  483    483     483      483   483    483             483